img.product {
    width: 100%;
    margin-bottom: 8px;
}

.row {
    display: flex;
    color:grey;
}

.rows{
    color:black;
    border-bottom: solid 1px #f3f2f2;
}

.row div:first-child {
    width: 80px;
}

.row div:nth-child(2) {
    flex: 1;
}


.ytp-button {
    border-color:  #006400;
    color:white;
    background-color: #006400;
    margin: 4px;
    text-align: center;
}